main {
    font-family : Arial, Helvetica, sans-serif;
    margin : 0 auto;
    /* border : solid 1px black; */
    width : 900px;
    height : 1200px;
}

/* =================== Name ================================== */

.name {
    display : flex;
    justify-content : flex-end;
    align-items : center;
    width : 100%;
    background : linear-gradient(to right, #7ba4b6, #3f7984);
    height : 200px;
}


.name aside {
    margin : 0 50px 0 0;
}


.name p {
    color : white;
    font-size : 30px;
    letter-spacing : 1px;
    margin : 15px 0 15px 0;
}


.name p:first-child {
    text-transform : uppercase;
}

/* ========================================================== */


/* ==================== left content ======================= */

div.leftContent {
    position : absolute;
    margin : 0 0 0 25px;
    top : 0;
    height : 1200px;
    width : calc(900px * .4);
    background-color : #293b3f;
}


div.photo {
    margin : 0 auto 20px auto;
    width : 100%;
    padding : 20px 0 0 0;
}


div.photo figure {
    margin : 0 auto;
    width : 250px;
    height : 200px;
    border : solid 1px white;
    border-radius : 50%;
}


div.leftContent section .title {
    background : linear-gradient(to right, #7ba4b6, #3f7984);
    border-radius : 0 10px 10px 0;
    margin : 0 20px 20px -25px;
    padding : 15px 0 0 0;
    text-align : center;
    color : white;
    letter-spacing : 1px;
    font-size : 25px;
}


div.leftContent .title::after {
    content : '';
    display : block;
    position : relative;
    top : 25px;
    left : 0;
    width : 0;
    height : 0;
    border-top : 25px solid #3f7984;
    border-left : 25px solid transparent;
}


/* ========================= CONTACTS ============================= */

.contacts div:not(.title) {
    display : flex;
    justify-content : space-between;
    align-items : center;
    color : white;
    font-size : 19px;
    letter-spacing : 1px;
    padding : 0 0 0 20px;
    margin : 12px 0 22px 0;
}


.contacts img {
    filter : invert(100%);
    width : 30px;
}


.contacts .linkedin img,
.contacts .place img {
    width : 25px;
}


.contacts .phoneNumber img {
    width : 20px;
}


.contacts aside {
    width : 100%;
}


.contacts p {
    text-align : center;
}

/* =============================================================== */


/* ====================== LANGUAGES ================================ */

.languages aside {
    width : 100%;
    color : white;
    padding : 0 0 0 20px;
    margin : 0 0 22px 0;
}

.languages aside p {
    font-size : 19px;
    letter-spacing : 1px;
}

/* ============================================================= */


/* ====================== LANGUAGES ================================ */

.skils div:not(.title) {
    display : flex;
    align-items : center;
    margin : 0 0 20px 0;
    padding : 0 0 0 20px;
}


.skils aside p {
    color : white;
    letter-spacing : 1px;
    font-size : 19px;
}


.skils img {
    width : 35px;
    filter : invert(100%);
    margin : 0 10px 0 0;
}

/* ============================================================= */


/* ====================== RIGHT CONTENT ================================ */

div.rightContentContainer {
    display : flex;
    justify-content : flex-end;
}


div.rightContent {
    background-color : lightgray;
    height : 950px;
    width : 490px;
    margin : 0 25px 0 0;
}


div.rightContent section .title {
    background : linear-gradient(to left, #7ba4b6, #3f7984);
    border-radius : 10px 0 0 10px;
    margin : 10px -25px 10px 20px;
    padding : 15px 0 0 0;
    text-align : center;
    color : white;
    letter-spacing : 1px;
    font-size : 25px;
}


div.rightContent section:first-child .title {
    margin : 20px -25px 10px 20px;
}


div.rightContent .title::after {
    content : '';
    display : block;
    position : relative;
    top : 25px;
    left : 470px;
    width : 0;
    height : 0;
    border-top : 25px solid #3f7984;
    border-right : 25px solid transparent;
}


div.rightContent aside {
    padding : 0 15px 0 20px;
    font-size : 18px;
    line-height : 1.3;
}


.education div.description aside p:nth-child(2n+1) {
    font-weight : bold;
    font-size : 20px;
    margin : 10px 0 0 0;
}

/* ============================================================= */


/* =================== bottom ====================================== */

div.bottom {
    background : linear-gradient(to left, #7ba4b6, #3f7984);
    height : 50px;
    width : 100%;
}

/* ============================================================= */